

.card-r {
  position: relative;
  padding: 0px;
  margin: 0%;
}



.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle3 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}
.container:hover .middle1 {
  opacity: 1;
}
.container:hover .middle2 {
  opacity: 1;
}
.container:hover .middle3 {
  opacity: 1;
}

.text {
  color: aliceblue;
  /* background-color: rgb(202, 0, 0); */
  
  font-size: 15px;
  padding: 16px 32px;
}



.grid-item {
  background-color: #eee;
  text-align: center;
}

/* Responsive styles using media queries */
@media (max-width: 768px) {
  .product-list {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
  }
}

@media (max-width: 480px) {
  .product-list {
      grid-template-columns: repeat(1, 1fr);
      /* 2 columns for screens up to 480px */
  }
}


.searchbar{
  display: flex;
}

@media (max-width: 768px) {
  .searchbar{
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  .searchbar{
      display: flex;
      flex-direction: column;
  }
}