


.basic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  padding-top: 20px;
  border: 3px solid var(#552285);
  border-radius: 12px;
  background: var(#fff);
  box-shadow: 0px 3px 15px var(#fff);

}

.basic-container .bc-heading{
  text-align: center;
  background-color: var(#552285);
  color: var(#fff);
  
  border-radius: 8px;
  padding: 3px 5px 3px 5px;
  width: 100%;
  margin-bottom: 10px;
  /* -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: var(#552285); */
  font-size: xx-large;

}

.basic-container input{
  width: 100%;
  padding: 3px 4px 3px 4px;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}


input:focus {
  border: 3px solid #555;
}

@media ( max-width: 425px){
  .basic-container{
    width: 350px;
    /* max-height: 500px; */
  }
  
  .basic-container .bc-heading{
    padding: 5px 3px 5px 3px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1rem;
  
  }

  table{
    font-size: smaller;
  }
}
@media ( max-width: 320px){

  .basic-container{
    width: 290px;
  }

  .basic-container  h4{
    padding: 1px 3px 1px 3px;
    width: 100%;
    margin-bottom: 5px;
    font-size: .94rem;
  
  }

  .gpa-body h4{
    font-size: .9rem;
  }

  .gpa-body #input-bar {
    width:240px;
  }
  
  .cgpa-body #input-bar {
    width:240px;
  }

  table{
    font-size: x-small;
  }

}




/* ----------------------------------------------------------Nav Bar---------------- */

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 2rem 9%;
  background: var(#552285);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header #logo{
  
  font-weight: 700;
  font-size: 2.5rem;
}
.header #logo-uni{
  
  font-weight: 700;
  font-size: 2.5rem;
}
.header #logo-uni span{
  
}

.header #h-logos{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}
.header a{
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 2px 5px 2px 5px;
}

@media ( max-width: 425px){
  .header #logo,
  .header #logo-uni{
   
    font-weight: 600;
    font-size: 1.5rem;
  }


  .header a{
    text-decoration: none;
    color: white;
    font-weight: 250;
    font-size: 0.9rem;
    margin: 2px 5px 2px 5px;
  }

}

/* -------------------------------------------------------------Home Page--------------- */

.home-body #btn{
  width: 232px;
  margin-top: 10px;
  padding: 8px 0 8px 0;
  font-size: large;
}

.home-body h5{
  margin-top: 12px;
}
#uni-selector{
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-top: 4px;
  width: 228px;
}


@media ( max-width: 425px){


  .home-body h1{
    font-weight: 600;
    font-size: large;
    color: var(#552285);
  }


}

@media ( max-width: 320px){
  .home-body h1{
    font-weight: 600;
    font-size: 1.2rem;
    color: var(#552285);
  }

}

/* ----------------------------------------------------------------GPA Page---------- */

.gpa-body #input-bar {
  width:265px;
}
.gpa-body button {
  width:265px;
  margin-top: 15px;
  padding: 8px 0 8px 0;
  font-size: large; 
}

/* -----------------------------------------------------CGPA page-------------- */

.cgpa-body #input-bar {
  width:255px;
}

.cgpa-body button{
  width:255px;
  margin-top: 15px;
  padding: 8px 0 8px 0;
  font-size: large;
}
/* ------------------------------------------------------------Second Page---------- */

.secondpage-body button{
  width: 304px;
  margin-top: 10px;
  padding: 8px 0 8px 0;
}
  
  
  /* ----------------------------------------My Page------------ */

 #btns-mypage{
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
 #btn1-mypage
{
  width: 140px;
  margin-top: 10px;
  padding: 8px 2px 8px 0;
}
 #btn2-mypage{
  width: 140px;
  margin-top: 10px;
  padding: 8px 0 8px 2px;
}

.mypage-body table button{
  width: 45px;
  height: 27px;
  font-weight: 300;
}

/* ---------------------------------------------table-------------------- */
.basic-container table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid var(#552285);
  border-radius: 3px;
}

.mypage-table input[type="number"] ,
.secondpage-table input[type="number"]{
  /* border: 1px solid #999999fd; */
  padding: 6px;
  border-radius: 6px; /* Adjust the radius to your preference */
}

th, td {
  padding: 0 2px 0 2px;
  text-align: center;
  background-color: #ccc;
  /* width: 187px; */
}

#sem-col{
  background-color: var(#552285);
  color: var(#fff);
}

#info{
  margin-top: 10px;
  font-size: small;
  text-align: center;
}

th {
  background-color: var(#552285);
  color: white;
  padding: 2.5px 0 2.5px 0;
}



/* button {
  padding: 3px 4px 3px 4px;
  border-radius: .3rem;
  background-color: var(#552285);
  border: 1px solid var(--main-color);
  color: var(#fff);
  text-shadow: 0 0 1rem var(--main-color);
  font-weight: 600;
  font-size: large;
  transition: all ease 0.5s;
  cursor: pointer;
} */

.mypage-body tr button{
  padding: 3px 4px 3px 4px;
  /* letter-spacing: .2rem; */
}


/* button:hover {
    box-shadow:  0 0 0 2px var(#552285);
    background-color: var(--second-bg-color);
  border: 1px solid var(#fff);
  color: var(#fff);
} */

.basic-container .sig{
  margin-top: 10px;
  font-style: italic;

}
.basic-container span{
  color: var(#552285);
  font-weight: 800;
  font-family: 'Arial Narrow Bold';
  font-style:normal;

}

/* -- */



  


