
# Use in => .env

PORT = 5000;
MONGODB_URL = 'mongodb://educonnect:educonnect123@ac-rd6itgi-shard-00-00.b8ejcje.mongodb.net:27017,ac-rd6itgi-shard-00-01.b8ejcje.mongodb.net:27017,ac-rd6itgi-shard-00-02.b8ejcje.mongodb.net:27017/educonnect?ssl=true&replicaSet=atlas-tnocmg-shard-0&authSource=admin&retryWrites=true&w=majority'
CLOUDINARY_NAME = 'dtqguiwjf'
CLOUDINARY_API_KEY = '694134334168661'
CLOUDINARY_API_SECRET = '-yxp3b61B75p27etcgHL5oPG37o'

