.container1 {
    margin-left: 100px;
    margin-right: 100px;
}

.a-title {
    text-transform: uppercase;
    font-size: 22px;
    padding: 0px;
    margin-bottom: 10px;
    font-weight: 550;
}

.a-titles {
    color: #7A1CCB;
}

.card1 {
    padding: 0px;
    border: none;
    width: 100%;
    border-radius: none;
    background-color: #fff;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
}

.card-text1 {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.news-header-btn {
    background-color: #7A1CCB;
    color: #fff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.news-header-btn:hover {
    background-color: #552285;
    color: #fff;
    border: none;
}


.a-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), 0px 5px 7px rgba(0, 0, 0, 0.35);
}

.a-card:hover {
    box-shadow: none;
    border: 1px solid rgb(180, 180, 180);
}

@media only screen and (max-width: 768px) {
    .anouncement {
        margin-top: 50px;
        /* Adjust the margin for smaller screens */
    }

    .container1 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .card1 {
        width: 100%;
        /* Make the cards take full width on smaller screens */
    }
}